@import '../settings';
@import 'foundation';
@import '../colours';

$hover-lightness-value: -15%;

.tile {
    background-color: $colour-uniprot-blue;
    display: inline-block;
    margin: 0.1em;
    text-align: center;
    color: $colour-white;
    width: 15rem;
    height: 15rem;
    padding: 1em;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    &:hover {
        background-color: scale-color($colour-uniprot-blue, $lightness: $hover-lightness-value);
        color: $colour-white;
    }
    .tile__header {
        display: block;
    }
    .tile__content {
        font-size: 80%;
    }

    &.tile-uniref {
        background-color: $colour-uniref !important;
        &:hover {
            background-color: scale-color(
                $colour-uniref,
                $lightness: $hover-lightness-value
            ) !important;
        }
    }

    &.tile-uniparc {
        background-color: $colour-uniparc !important;
        &:hover {
            background-color: scale-color(
                $colour-uniparc,
                $lightness: $hover-lightness-value
            ) !important;
        }
    }

    &.tile-proteomes {
        background-color: $colour-proteomes !important;
        &:hover {
            background-color: scale-color(
                $colour-proteomes,
                $lightness: $hover-lightness-value
            ) !important;
        }
    }
}

$colour-uniref: #c08c5c;
$colour-uniparc: #c3878d;
$colour-proteomes: #990000;
$colour-supporting-data: #aa8ebf;
$colour-help: #6bad69;
$colour-annotation-systems: #f8982e;
