@import "../settings";
@import "../colours";

$small-bubble: 1.5rem;
$medium-bubble: 3rem;
$large-bubble: 5rem;

@mixin bubble {
  display: inline-block;
  margin: 0 0.2rem;
  color: $colour-white;
  border-radius: 50%;
  text-align: center;
}

.bubble--small {
  @include bubble();
  width: $small-bubble;
  height: $small-bubble;
  line-height: $small-bubble;
  font-size: $small-bubble/2;
}

.bubble--medium {
  @include bubble();
  width: $medium-bubble;
  height: $medium-bubble;
  line-height: $medium-bubble;
  font-size: $medium-bubble/3;
}

.bubble--large {
  @include bubble();
  width: $large-bubble;
  height: $large-bubble;
  line-height: $large-bubble;
  font-size: $large-bubble/3;
}
