@import '../settings';
@import '../colours';
@import '../common/utils';

@mixin bubble($size) {
  display: inline-block;
  margin: 0 $global-margin/5;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  width: $size;
  height: $size;
  line-height: $size;
  font-size: bubbleFontSize($size);
}

.bubble--small {
  @include bubble($small-bubble);
}

.bubble--medium {
  @include bubble($medium-bubble);
}

.bubble--large {
  @include bubble($large-bubble);
}
