@import '../settings';
@import '../colours';

.card {
  background-color: $colour-white;
  border-radius: 0.2rem;
  box-shadow: 0 0.125rem 0.25rem 0.125rem rgba($colour-black, 0.2);
  margin: $global-margin;
  &--selected {
    background-color: $colour-light-blue;
  }

  &__header {
    padding: $global-padding;
    &__checkbox {
      input[type='checkbox'] {
        margin: 0 0.75rem 0.5rem 0;
        vertical-align: middle;
      }
    }
  }

  &__content {
    padding: $global-padding;
    &__checkbox {
      input[type='checkbox'] {
        margin: 0.25rem 0.5rem 0 0;
        float: left;
      }
    }
  }
  &__title {
    margin: 0;
    margin-right: $global-margin;
  }
  &__header {
    display: flex;
    align-items: baseline;
    border-bottom: 0.125rem solid;
    border-color: $colour-seashell-grey;
  }
  &__actions {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    background-color: $colour-seashell-grey;
  }
}

.card__link {
  margin: 0;
  padding: 0.5rem;
  font-weight: 600;
  border-bottom: 0.125rem solid;
  border-color: $colour-seashell-grey;
}
