@import '../settings';
@import '../colours';

.card {
  background-color: $colour-white;
  border-radius: 0.2rem;
  box-shadow: 0 0.125rem 0.25rem 0.125rem rgba($colour-black, 0.2);
  margin: $global-margin;
  &__header,
  &__content {
    padding: $global-padding;
  }
  &__title {
    margin: 0;
    margin-right: 8px;
  }
  &__header {
    display: flex;
    align-items: baseline;
    border-bottom: 2px solid;
    border-color: $colour-seashell-grey;
  }
  &__actions {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    background-color: $colour-seashell-grey;
  }
}

.card__link {
  margin: 0;
  padding: 0.5rem;
  font-weight: 600;
  border-bottom: 2px solid;
  border-color: $colour-seashell-grey;
}
