@import '../settings';
@import '../colours';
@import '../mixins';
@import '../franklin-settings';

.data-table {
  $self: &;
  border: 0;
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  input[type='checkbox'] {
    margin: 0;
  }

  &--fixed {
    table-layout: fixed;
  }

  &__header-cell {
    border: 0;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    white-space: nowrap;
    color: $colour-sky-white;
    background-color: $colour-sea-blue;
    top: 0;
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;

    &--ascend {
      cursor: pointer;
      &::after {
        @include chevron(up, $colour-sky-white);
      }
    }

    &--descend {
      cursor: pointer;
      &::after {
        @include chevron(down, $colour-sky-white);
      }
    }

    &--sortable {
      cursor: pointer;
      &::after {
        @include chevron(down, $colour-platinum);
      }
      &:hover:after {
        @include chevron(down, $colour-sky-white);
      }
    }

    &--checkbox {
      // This doesn't have an effect unless `table-layout: fixed`
      width: 1.5rem;
    }
  }

  &__cell {
    padding: 0.5rem;
    vertical-align: top;
    border: 0;
    border-bottom: 1px solid $colour-sky-white;

    &--warning {
      background-color: map-get($foundation-palette, warning);
    }

    &--odd {
      background-color: $colour-platinum;
    }

    &--selected {
      background-color: $colour-selected;
    }

    &--checkbox {
      // Is this still used?
      box-sizing: border-box;
      width: 0;
      padding: 0.8em 1.2em;
      overflow: hidden;
    }

    &--loading {
      text-align: center;
    }

    &--ellipsis {
      @include ellipsis();
    }
  }

  &--compact {
    font-size: $font-size-medium;
    #{ $self }_header-cell,
    #{ $self }__cell {
      padding: 0.25;
    }
  }
}
