@import "../settings";
@import "../colours";
@import "../mixins";

.data-list {
  &__wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
  }

  &__inner {
    overflow-y: auto;
  }
}
