@import "../settings";
@import "../colours";
@import "../mixins";

.data-table-base {
  border: 1px solid $colour-seashell-grey;
  margin: 0 0 3em 0;

  .table-head {
    font-weight: bold;
    background-color: $colour-light-grey;
  }

  .table-body {
    display: flex;
    flex-wrap: wrap;
  }

  .table-row {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    // padding: 0.3rem;
  }

  .table-row-even {
    @extend .table-row;
  }

  .table-row-warning {
    @extend .table-row;
    background-color: map-get($foundation-palette, warning);
  }

  .table-row-odd {
    @extend .table-row;
    background-color: $colour-seashell-grey;
  }

  .table-row-selected {
    @extend .table-row;
    background-color: $colour-light-blue;
    border-bottom: 1px solid $colour-white;
  }

  .table-header,
  .table-data {
    box-sizing: border-box;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    text-align: left;
  }

  .table-header-ascend {
    @extend .table-header;
    cursor: pointer;
    &::after {
      @include chevron(up, $black);
    }
  }

  .table-header-descend {
    @extend .table-header;
    cursor: pointer;
    &::after {
      @include chevron(down, $black);
    }
  }

  .table-header-sortable {
    @extend .table-header;
    cursor: pointer;
    &::after {
      @include chevron(down, lighten($black, 50%));
    }
    &:hover:after {
      @include chevron(down, lighten($black, 20%));
    }
  }

  .table-header-checkbox,
  .table-data-checkbox {
    box-sizing: border-box;
    width: 0;
    padding: 0.8em 1.2em;
    overflow: hidden;
  }

  [type="checkbox"] {
    margin: 0;
  }

  .table-header-large,
  .table-data-large {
    flex: 4 1 90em;
  }

  .table-header-small,
  .table-data-small {
    flex: 0 1 16em;
  }
}

.data-table-infinite {
  @extend .data-table-base;
}

.data-table {
  @extend .data-table-base;
}

@include breakpoint(small only) {
  .data-table {
    .table-header {
      display: none;
    }
    .table-row {
      flex-wrap: wrap;
    }
  }
}
