@import "../settings";
@import "../colours";
@import "../mixins";

.data-table {
  &__container {
    height: 100%;
    overflow-x: auto;
  }

  &__cover {
    width: 100%;
    position: relative;
    background-color: $colour-white;
    height: 1px;
    top: 1px;
  }

  &__table {
    border: 0;
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    &__header {
      &__row {
        &__cell {
          border: 0;
          padding: 0.25rem 0.5rem;
          font-weight: bold;
          white-space: nowrap;
          color: $colour-white;
          background-color: $colour-uniprot-blue;
          top: 0;
          z-index: 2;
          position: sticky;
          position: -webkit-sticky;
          position: -moz-sticky;
          position: -ms-sticky;
          position: -o-sticky;

          &--ascend {
            cursor: pointer;
            &::after {
              @include chevron(up, $colour-white);
            }
          }

          &--descend {
            cursor: pointer;
            &::after {
              @include chevron(down, $colour-white);
            }
          }

          &--sortable {
            cursor: pointer;
            &::after {
              @include chevron(down, $colour-light-grey);
            }
            &:hover:after {
              @include chevron(down, $colour-white);
            }
          }
        }
      }
    }

    &__body {
      &__cell {
        padding: 0.5rem;
        vertical-align: top;
        border: 0;
        border-bottom: 1px solid $colour-white;

        &--warning {
          background-color: map-get($foundation-palette, warning);
        }

        &--odd {
          background-color: $colour-seashell-grey;
        }

        &--selected {
          background-color: $colour-light-blue;
        }

        &--checkbox {
          box-sizing: border-box;
          width: 0;
          padding: 0.8em 1.2em;
          overflow: hidden;
        }

        &--loading {
          text-align: center;
        }
      }
    }
  }
}
