@import '../colours';
@import '../settings';

$line-height: 2rem;

.display-menu {
  &__item_title {
    width: 100%;
    line-height: $line-height;
    &--active:before {
      content: '';
      position: absolute;
      width: 0.2rem;
      left: 1rem;
      height: $line-height;
      border-left: 0.2rem solid $colour-link;
    }
  }
  &__item_icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: $global-margin * 1.5;
    fill: $colour-link;
    svg {
      height: 1rem;
      width: 1rem;
    }
  }
  &__item_content {
    margin-left: $global-margin * 1.5 + 0.2;
  }
}
