@import '../settings';
@import '../colours';
@import '../common/z-index';
@import '../mixins';

.dropdown-container {
  position: relative;
  display: inline-block;

  button {
    outline: 0;
    white-space: nowrap;
    margin-bottom: 1rem;
  }

  .button {
    &.secondary {
      &.dropdown::after {
        border-color: $colour-sea-blue transparent transparent;
      }
    }

    &.tertiary {
      &.dropdown::after {
        border-color: $colour-sapphire-blue transparent transparent;
        top: 0.5rem;
        margin-left: 0.5rem;
      }
    }
  }

  &__trigger {
    cursor: pointer;
    position: relative;
    padding-right: 1rem;

    &::after {
      border-color: $colour-sky-white transparent transparent transparent;
      border-width: 0.3rem;
      right: 0;
      margin-top: -0.14rem;
      border-style: solid;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      top: 50%;
      width: 0;
    }

    &--negative::after {
      border-color: $colour-sea-blue transparent transparent transparent;
    }
  }

  &--hover:hover .dropdown-menu {
    display: block;
  }
}

.hover {
  color: $colour-yankees-blue;
  border: none;
  background: $colour-platinum;
}

.dropdown-menu {
  input {
    margin: 0;
  }

  @include box-shadow();
  display: none;
  white-space: nowrap;
  position: absolute;
  background: #fff;
  z-index: $z-index-high;

  .dropdown-menu__content {
    padding: 1rem;
  }

  .dropdown-menu__panel {
    overflow-y: auto;
    max-height: 70vh;
  }

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    // overflow-y: hidden;
    // height: auto !important;
    li {
      float: none !important;
      display: block;
      line-height: 1.6rem;
      background-color: $white !important;

      button,
      a {
        line-height: 1.6rem;
        cursor: pointer;
        width: 100%;
        text-align: left;
        padding: 0.5rem;
        margin-right: 2rem;
        position: relative;
        display: block;
        border: none;
        padding-right: 1rem;
        text-decoration: none;

        &:hover {
          @extend .hover;
        }

        &.active {
          font-weight: bold;
        }
      }
    }
  }

  // The autocomplete has a dropdown-menu inside a dropdown-menu
  // so needs to have position set to relative so its width can
  // follow its container's
  .dropdown-menu {
    position: relative;
    top: 0;
  }
}

.dropdown-menu-open {
  display: block;
}
