@import '../settings';
@import 'foundation';
@import '../colours';
@import '../common/z-index';

.dropdown {
  position: relative;
  display: inline-block;
  &>.button {
    margin: 0;
  }
  button {
    outline: 0;
  }
}

.hover {
  color: $colour-black;
  border: none;
  background: $colour-light-grey;
}

.dropdown-menu {
  display: none;
  min-width: 15rem;
  white-space: nowrap;
  position: absolute;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: $z-index-high;
  ul {
    display: block;
    overflow-y: auto;
    max-height: 60vh;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto !important;
    li {
      float: none !important;
      line-height: 1.6rem;
      background-color: $white !important;
      button {
        cursor: pointer;
        width: 100%;
        text-align: left;
        padding: .5rem;
        position: relative;
        display: block;
        border: none;
        padding-right: 1rem;
        color: $colour-black;
        text-decoration: none;
        &:hover {
          @extend .hover;
        }
        &.active {
          font-weight: bold;
        }
      }
      &.branch>span::after {
        width: 0;
        height: 0;
        border: inset .4rem;
        content: '';
        border-right-width: 0;
        border-left-style: solid;
        border-color: transparent transparent transparent $colour-black;
        position: relative;
        top: .4rem;
        display: inline-block;
        float: right;
        margin-left: 1rem;
      }
      ul {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: none;
        /* Safari */
        transition: none;
        &.open {
          opacity: 1;
          position: relative;
          visibility: visible;
          -webkit-transition: all 0.5s;
          /* Safari */
          transition: all 0.5s;
        }
      }
      ul li {
        padding-left: 1rem;
      }
    }
  }
  .branch ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }

}

.dropdown-menu-open {
  display: block;
}
