@import "../settings";
@import "../colours";

.evidence-tag {
  margin-left: ($global-margin/2);
  font-size: $small-font-size;
  &--reviewed {
    color: $colour-reviewed;
    svg {
      path {
        fill: $colour-reviewed;
      }
    }
  }
  &--unreviewed {
    color: darken($colour-unreviewed, 30);
    svg {
      path {
        fill: darken($colour-unreviewed, 30);
      }
    }
  }
  &__label {
    padding-left: ($global-padding / 4);
    text-transform: capitalize;
  }
}
