@import "../settings";
@import "../colours";

.evidence-tag {
  cursor: pointer;
  font-size: $small-font-size;
  white-space: nowrap;
  margin-left: ($global-margin/2);
  border-radius: $global-padding/2;
  background-color: $colour-seashell-grey;
  padding: $global-padding/4 $global-padding/2;
  color: $colour-black;
  &__label {
    padding-left: ($global-padding / 4);
    text-transform: capitalize;
  }
}

.evidence-tag-content {
  opacity: 0;
  max-height: 0;
  background-color: $colour-seashell-grey;
  overflow: hidden;
  transition: none;
  display: inline;
  div {
    display: none;
  }
}

.evidence-tag-content--visible {
  opacity: 1;
  margin: $global-margin 0;
  padding: $global-padding;
  max-height: 25vh;
  overflow-y: auto;
  transition: opacity 0.5s ease-out;
  display: block;
  div {
    display: block;
  }
}
