@import "../settings";
@import "../colours";

.facets {
  .facet-name {
    color: $colour-dark-grey;
    font-weight: 800;
    margin-bottom: $global-margin / 4;
  }

  & > ul > li {
    padding-bottom: $global-margin / 2;
    margin-bottom: $global-margin / 2;
    border-bottom: 1px solid $colour-seashell-grey;
    position: relative;
    button {
      cursor: pointer;
      display: block;
      width: 100%;
      line-height: $global-lineheight;
      text-align: left;
      padding: $global-margin / 3;
      &:hover {
        background: $colour-seashell-grey;
      }
    }
    button.facet-active {
      font-weight: bold;
      background: $colour-light-blue;
      &:hover {
        background: $colour-medium-blue;
        &:after {
          display: inline-block;
          position: absolute;
          background: url("../../svg/close.svg");
          background-repeat: no-repeat;
          background-size: 1rem 1rem;
          right: 0.2rem;
          margin-top: 0.2rem;
          content: " ";
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}
