@import '../settings';
@import '../colours';
@import '../mixins';

$content-width: 90%;

.header,
.hero-header {
  display: flex;
  align-items: center;
  align-content: center;
  color: $colour-sky-white;
  padding: 0.5em 1em;
  background: linear-gradient(
    45deg,
    $colour-sapphire-blue,
    rgba($colour-sapphire-blue, 0.7),
    $colour-sapphire-blue,
    $colour-sapphire-blue
  );

  &.header--negative {
    justify-content: space-between;
    color: $colour-sapphire-blue;
    background: $colour-sky-white;

    a,
    button,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $colour-sapphire-blue;
    }
  }

  a,
  button,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $colour-sky-white;

    &.button.dropdown {
      margin-bottom: 0;

      &:after {
        margin-left: 0.25em;
      }
    }
  }

  .dropdown-menu {
    a,
    button,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $colour-sapphire-blue;
    }
  }

  &__logo {
    display: inline-block;
  }

  &__navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;

    a:hover {
      border-bottom: 1px solid currentColor;
    }

    li {
      display: contents;

      & > a {
        margin: 0.1rem 0.25rem; // .1rem to align with dropdown
        font-size: 1rem; // match font-size in dropdown button
      }
    }

    button.button {
      &,
      &:focus,
      &:hover {
        transition: none;
        font-size: 1rem;
        font-weight: bold;
        background: none;
        padding-left: 0.6em;
        padding-right: 0.6em;
      }
    }
  }

  &__search {
    flex: 4 4 auto;
    input,
    button {
      margin: 0;
    }
  }
}

.hero-header {
  @include box-shadow();
  grid-area: hero-header;
  height: 60vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2 1 auto;
    width: $content-width;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    flex: 2 1 auto;

    h1 {
      color: $colour-sky-white;
    }
  }

  &__content {
    flex: 2 1 auto;
    width: $content-width;
  }

  &__footer {
    flex: 0 1 auto;
  }

  label {
    color: $colour-sky-white;
  }
}
