@import '../settings';
@import '../colours';
@import '../mixins';

$content-width: 90%;

.header,
.hero-header {
  display: flex;
  align-items: center;
  align-content: center;
  color: $colour-sky-white;
  padding: 0.5em 1em;
  background: linear-gradient(
    45deg,
    $colour-sapphire-blue,
    rgba($colour-sapphire-blue, 0.7),
    $colour-sapphire-blue,
    $colour-sapphire-blue
  );

  &.header--negative {
    justify-content: space-between;
    color: $colour-sapphire-blue;
    background: $colour-sky-white;

    a.button,
    button.button,
    a.button:link,
    a.button:visited,
    a.button:hover,
    a.button:active,
    .header__logo > a {
      color: $colour-sapphire-blue;
    }

    .header__search button.button {
      color: $colour-sky-white;
    }
  }

  a.button,
  button.button,
  a.button:link,
  a.button:visited,
  a.button:hover,
  a.button:active,
  .header__logo > a {
    color: $colour-sky-white;

    &.button.dropdown {
      margin-bottom: 0;

      &:after {
        margin-left: 0.25em;
      }
    }
  }

  .dropdown-menu {
    a.button,
    button.button,
    a.button:link,
    a.button:visited,
    a.button:hover,
    a.button:active {
      color: $colour-sapphire-blue;
    }
  }

  &__logo {
    display: inline-block;
  }

  &__navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;

    a.button,
    button.button {
      &:hover {
        border-bottom: 1px solid currentColor;
      }
    }

    li {
      display: contents;

      & > a.button,
      & > button.button {
        margin: 0.1rem 0.25rem; // .1rem to align with dropdown
        font-size: 1rem; // match font-size in dropdown button
      }
    }

    a.button,
    button.button {
      font-weight: bold;

      &,
      &:focus,
      &:hover {
        transition: none;
        font-size: 1rem;
        background: none;
        padding-left: 0.6em;
        padding-right: 0.6em;
      }
    }
  }

  &__search {
    flex: 4 4 auto;
    input,
    button {
      margin: 0;
    }
  }
}

.hero-header {
  @include box-shadow();
  flex-direction: column;
  height: 60vh;
  margin-bottom: 2em;

  & > * {
    width: 100%;
  }

  &__content {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: $colour-sky-white;
    }
  }

  &__footer {
    flex: 0;
  }

  label {
    color: $colour-sky-white;
  }
}
