@import '../settings';
@import '../colours';
@import '../mixins';

.header,
.hero-header {
  display: flex;
  align-items: center;
  align-content: center;
  color: $colour-white;
  &.header--negative {
    justify-content: space-between;
    color: $colour-sapphire-blue;
    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $colour-sapphire-blue;
    }
    background: $colour-white;
    .header__logo {
      svg {
        stroke: $colour-sea-blue;
        fill: $colour-sea-blue;
        circle {
          stroke: $colour-sea-blue;
        }
        path {
          fill: $colour-sea-blue;
        }
      }
    }
  }
  padding: 0.5em 1em;
  a,
  a:link,
  a:visited,
  a:hover,
  a:active,
  button {
    color: $colour-white;
  }
  background: linear-gradient(
    45deg,
    $colour-sapphire-blue,
    rgba($colour-sapphire-blue, 0.7),
    $colour-sapphire-blue,
    $colour-sapphire-blue
  );
  &__logo {
    display: inline-block;
    svg {
      // margin-bottom: -1em;
      stroke: $colour-white;
      fill: $colour-white;
      circle {
        stroke: $colour-white;
      }
      path {
        fill: $colour-white;
      }
    }
  }
  &__navigation {
    list-style: none;
    display: inline-block;
    margin: 0;
    a:hover {
      border-bottom: 1px solid $colour-white;
    }
    li {
      display: inline-block;
      margin: 0 0.7em;
    }
  }
  &__search {
    flex: 4 4 auto;
    input,
    button {
      margin: 0;
    }
  }
}

.hero-header {
  @include box-shadow();
  grid-area: hero-header;
  height: 60vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  .hero-header__title {
    h1 {
      font-weight: 200;
    }
    display: flex;
    align-items: flex-end;
    flex: 2 1 auto;
  }

  .hero-header__content {
    flex: 2 1 auto;
    width: 90%;
  }

  .hero-header__footer {
    flex: 0 1 auto;
  }
  label {
    color: $colour-white;
  }
}
