@import '../settings';
@import '../colours';

.hero-container {
  margin-top: $global-margin;
  margin-bottom: $global-margin;
  padding: $global-padding 0;
  background-color: $colour-platinum;
  --grid-background: #{$colour-platinum};
  &--side-padding {
    padding-left: $global-padding;
    padding-right: $global-padding;
  }
}
