@import "../settings";
@import "../colours";

.hero-container {
  grid-area: hero-container;
  
  display: grid;
  grid-template-columns: auto 64rem auto;

  & > section:first-child {
    grid-column-start: 2;

    // margin: $global-margin;
    margin: $global-margin $global-margin / 2;
    padding: $global-padding;
    background-color: $colour-seashell-grey;
  }
}
