@import '../colours';

.histogram-filter {
  svg rect.selection {
    /* Remove the borders of the D3 brush */
    stroke-width: 0;
  }

  &__text-input-container {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0.25rem;

    input {
      text-align: center;
      border-radius: 0.5rem;
      border: 1px solid $colour-weldon-blue;
      display: inline-block;
      color: $colour-weldon-blue;
    }
  }
}
