@import '../colours';

.text-input {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  input {
    border-radius: 0.5rem;
    display: inline-block;
    color: $colour-weldon-blue;
  }
}
