@import '../colours';

.histogram {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 0 0.2rem;

  &__bar {
    background-color: $colour-platinum;
    display: inline-block;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    margin-right: 2px;
    flex: 1 1 0%;
    transform-origin: bottom left;

    &--within-range {
      background-color: $colour-weldon-blue;
    }
  }
}
