@import '../settings';
@import '../colours';

.in-page-nav {
  padding: 0;
  margin: 0;
  ul {
    margin: 0;
  }
  li {
    list-style: none;
    margin-bottom: $global-margin;
  }

  &--active a {
    color: $colour-sapphire-blue;
    font-weight: 700;
  }

  &--disabled {
    opacity: 0.4;
  }
}
