@import "../settings";
@import "../colours";

.in-page-nav {
  padding: 0;
  margin: 0;
  ul {
    margin: 0;
  }
  li {
    list-style: none;
  }

  &--sticky {
    position: fixed;
  }

  &--active a {
    color: $colour-dark-blue;
    font-weight: 700;
  }

  &--disabled {
    opacity: 0.4;
  }
}
