@import '../settings';
@import '../colours';
@import '../mixins.scss';

.info-list {
  margin: $global-margin 0 2 * $global-margin 0;
  &__item {
    display: flex;
    margin-bottom: 1.25rem;
    &__title {
      flex-basis: 10vw;
      flex-shrink: 0;
      margin-right: 0.7rem;
      text-align: right;
      h5 {
        line-height: 1.2;
      }
    }
    &__content {
      border-left: 0.125rem solid $colour-vivid-cerulean;
      padding-left: 0.7rem;
      ul {
        margin-bottom: 0;
      }
    }
  }
}

@include breakpoint(small only) {
  .info-list {
    &__item {
      display: block;
      &__title {
        text-align: left;
      }
      &__content {
        border-left: none;
        padding-left: 0;
      }
    }
  }
}

@include breakpoint(medium) {
  @include columns('info-list', 2);
}
