@import '../settings';
@import '../colours';
@import '../mixins.scss';

$decorative-bar: 0.125rem solid $colour-vivid-cerulean;

.info-list {
  margin: $global-margin 0 2 * $global-margin 0;
}

@include breakpoint(medium) {
  @include columns('info-list', 2);
}
