@import '../colours';

.main-search {
  display: flex;

  & > input,
  & > button,
  & > .dropdown-container button {
    margin: 0;
  }

  .button {
    border: none;
  }

  .dropdown-container {
    .button {
      display: flex;
    }
  }
  &__input-container {
    display: flex;
    position: relative;
    width: 100%;
    input {
      margin: 0;
    }
  }

  &__secondary-container {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    align-items: center;
    color: $colour-independence;
  }

  &--secondary {
    background-color: transparent;
    color: inherit;
    padding: 0 1ch;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.25s ease-out;

    &:hover,
    &:focus,
    &:focus-within {
      opacity: 1;
    }
  }
}
