@import '../colours';

@function getMessageBorder($level) {
  @return 0.25rem solid $level;
}

@mixin SVGDefinition($level) {
  svg {
    path {
      fill: $level;
    }
  }
}

@mixin getWarningCSS($level) {
  @include SVGDefinition(($level));
  .message__content {
    border-left: getMessageBorder($level);
  }
}

.message {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  background-color: $colour-sky-white;
  margin-bottom: $global-margin/2;
  display: flex;
  &__content {
    padding-left: 0.5rem;
    flex: 1 1 auto;
    display: flex;
    svg {
      margin-right: 0.5rem;
    }
  }

  &--warning {
    @include getWarningCSS($colour-warning);
  }
  &--failure {
    @include getWarningCSS($colour-failure);
  }
  &--success {
    @include getWarningCSS($colour-success);
  }
  &--info {
    @include getWarningCSS($colour-info);
  }

  &__dismiss {
    text-align: center;
    cursor: pointer;
    flex: 0 1 1rem;
  }
}
