@import "../settings";
@import "../colours";

.page-intro {
  .intro-content {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    display: none;
    &--display-content {
      display: block;
    }
  }
  .intro-links {
    text-align: right;
    a {
      margin-right: $global-margin;
    }
  }
  button {
    cursor: pointer;
    color: $colour-black;
  }
  button:focus {
    outline: none;
  }
  small {
    color: $colour-black;
  }
}
