@import "../settings";
@import "../colours";

.page-intro {
  .intro-content {
    column-count: 2;
    display: none;
    &--display-content {
      display: block;
    }
  }
  .intro-links {
    text-align: right;
    a {
      margin-right: $global-margin;
    }
  }
  button {
    cursor: pointer;
    color: $colour-black;
    &:focus {
      outline: none;
    }
  }
  small {
    color: $colour-black;
  }
}
