.search-input {
  position: relative;
  width: 100%;
  display: inline-block;

  input {
    padding-right: 1.75rem;
  }

  &__suffix {
    position: absolute;
    right: 0rem;
    top: 0.6rem;
    width: 1.5rem;
    height: 1.75rem;
  }
}
