.search-input {
  position: relative;
  width: 100%;
  display: inline-block;

  input {
    padding-right: 1.75rem;

    /* Hide this because we have our own close button */
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  &__suffix {
    position: absolute;
    right: 0rem;
    top: 0.6rem;
    width: 1.5rem;
    height: 1.75rem;
  }
}
