@import '../settings';
@import '../colours';
@import '../mixins';
@import '../common/z-index';

@keyframes slide-in-top {
  from {
    opacity: 0;
    margin-top: -1000px;
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    margin-right: -1000px;
  }
}
@keyframes slide-in-bottom {
  from {
    opacity: 0;
    margin-bottom: -1000px;
  }
}
@keyframes slide-in-left {
  from {
    opacity: 0;
    margin-left: -1000px;
  }
}

.sliding-panel {
  @include box-shadow(0.125rem);
  background-color: $colour-sky-white;
  border-radius: 0.2rem;
  padding: 0;
  position: fixed;
  z-index: $z-index-highest;
  opacity: 1;
  margin: 0;

  // animation on mount
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;

  &__header {
    background-color: $colour-independence;
    padding: $global-padding/2 $global-padding;
    color: $colour-sky-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: $colour-sky-white;
      margin-bottom: 0;
    }
    &__buttons {
      button.tertiary {
        margin: 0;
        color: $colour-sky-white;
      }
    }
  }

  &__content {
    padding: $global-padding;
  }

  &__button-row {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    padding: $global-padding/2 0;
    bottom: 0;
  }

  &--top,
  &--bottom {
    width: 100vw;
    height: 40vh;
    left: 0;
  }

  &--top {
    top: 0;
    animation-name: slide-in-top;
  }

  &--bottom {
    bottom: 0;
    animation-name: slide-in-bottom;
  }

  &--left,
  &--right {
    height: 100vh;
    width: min(max(40vw, 55rem), calc(90vw));
    top: 0;
  }

  &--left {
    left: 0;
    animation-name: slide-in-left;
  }

  &--right {
    right: 0;
    animation-name: slide-in-right;
  }
}
