@import '../settings';
@import '../colours';

$animation-time: 0.25s;

$tile: '.tile';

#{$tile} {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: var(--tile-background, #{$colour-sea-blue});
  &.tile-gradient {
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.2),
        rgba(255, 255, 255, 0.2),
        rgba(0, 0, 0, 0.2)
      )
      var(--tile-background, #{$colour-sea-blue});
  }
  text-align: center;
  color: $colour-sky-white;
  &__header,
  &__subtitle {
    // hack for rendering before svg
    opacity: 0.9;
    color: $colour-sky-white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
  }
  padding: $global-padding/2 0 0 0;
  cursor: pointer;

  &__header {
    display: block;
  }
  &__description {
    transition: transform $animation-time linear;
    display: block;
    padding: 0.7rem;
    line-height: 1.6;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50%;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    transform: translateY(33%);
  }

  &__background-image {
    transition: background-color $animation-time ease;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    padding: $global-padding/2;
    svg {
      transition: filter $animation-time ease-out;
      width: 100%;
      height: 100%;
    }
  }

  // Animations
  &:hover,
  &:focus,
  &:focus-within {
    svg {
      filter: blur(0.1rem);
    }
    #{$tile}__description {
      transform: translateY(0);
      overflow-y: auto;
    }
    #{$tile}__background-image {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  // CSS hack to have 1/1 aspect-ratio
  &::before {
    content: '';
    padding-bottom: 100%; // meaning, 100% of the width to bottom padding
  }
}

@media (prefers-reduced-motion) {
  #{$tile} #{$tile}__description {
    transform: translateY(0);
    overflow-y: auto;
  }
}
