@import "../settings";
@import "../colours";

$hover-lightness-value: -15%;

$size: 15rem;

.tile {
  position: relative;
  background-color: $colour-uniprot-blue;
  display: inline-block;
  margin: $global-margin;
  text-align: center;
  color: $colour-white;
  width: $size;
  height: $size;
  padding: $global-padding 0;
  cursor: pointer;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  &:hover {
    background-color: scale-color(
      $colour-uniprot-blue,
      $lightness: $hover-lightness-value
    );
    color: $colour-white;
  }
  &__header {
    display: block;
  }
  &__content {
    padding: 0.7em;
    width: 100%;
    background-color: rgba($colour-white, 0.1);
    height: 7em;
    font-size: 80%;
    position: absolute;
    bottom: 0.1em;
  }

  &--small {
    height: $size/4;
    .tile__header {
      font-size: 1.2rem;
    }
  }

  &--uniref {
    background-color: $colour-uniref !important;
    &:hover {
      background-color: scale-color(
        $colour-uniref,
        $lightness: $hover-lightness-value
      ) !important;
    }
  }

  &--uniparc {
    background-color: $colour-uniparc !important;
    &:hover {
      background-color: scale-color(
        $colour-uniparc,
        $lightness: $hover-lightness-value
      ) !important;
    }
  }

  &--proteomes {
    background-color: $colour-proteomes !important;
    &:hover {
      background-color: scale-color(
        $colour-proteomes,
        $lightness: $hover-lightness-value
      ) !important;
    }
  }
}
