@import '../settings';
@import '../colours';
@import '../mixins';

$switch-width: 2.5rem;
$switch-height: 1.5rem;
$knob-size: 1rem;
$knob-offset: 0.25rem;
$knob-shift: 1rem;

@keyframes toggle-opacity-shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.toggle {
  --toggle-off-base: var(--fr--color-slate-grey);
  --toggle-on-base: var(--fr--color-purple-mid);

  --toggle-knob-color: white;
  --toggle-focus-color: var(--fr--color-deep-violet);

  // OFF
  --toggle-text-color-off: var(--toggle-off-base);
  --toggle-header-color-off: color-mix(
    in srgb,
    var(--toggle-off-base) 70%,
    var(--fr--color-yankees-blue)
  );
  --toggle-background-color-off: color-mix(
    in srgb,
    var(--toggle-off-base) 6%,
    white
  );
  --toggle-border-color-off: color-mix(
    in srgb,
    var(--toggle-off-base) 40%,
    white
  );
  --toggle-switch-color-off: color-mix(
    in srgb,
    var(--toggle-off-base) 80%,
    white
  );
  --toggle-icon-color-off: var(--toggle-switch-color-off);

  // ON
  --toggle-text-color-on: color-mix(in srgb, var(--toggle-on-base) 90%, white);
  --toggle-header-color-on: color-mix(
    in srgb,
    var(--toggle-on-base) 100%,
    black
  );
  --toggle-background-color-on: color-mix(
    in srgb,
    var(--toggle-on-base) 6%,
    white
  );
  --toggle-border-color-on: color-mix(
    in srgb,
    var(--toggle-on-base) 80%,
    white
  );
  --toggle-switch-color-on: var(--toggle-on-base);
  --toggle-icon-color-on: var(--toggle-on-base);

  // CURRENT
  --toggle-text-color: var(--toggle-text-color-off);
  --toggle-header-color: var(--toggle-header-color-off);
  --toggle-background-color: var(--toggle-background-color-off);
  --toggle-border-color: var(--toggle-border-color-off);
  --toggle-switch-color: var(--toggle-switch-color-off);
  --toggle-icon-color: var(--toggle-icon-color-off);

  padding: 0.75rem;
  border: 2px solid var(--toggle-border-color);
  border-radius: 1rem;
  background: var(--toggle-background-color);
  min-width: 15rem;
  width: 100%;
  user-select: none;
  transition: all 0.25s ease;

  &__content {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  &__icon {
    color: var(--toggle-icon-color);

    svg {
      overflow: visible;
      width: 1.5rem;
      height: 1.5rem;
      fill: currentColor;
      stroke: currentColor;
    }
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 1rem;
    font-weight: 600;
    color: var(--toggle-header-color);

    &__chip {
      position: absolute;
      margin-left: 0.5rem;
      margin-top: 2px;
      border: 0;
      background: color-mix(in srgb, var(--toggle-on-base) 17%, white);
      color: var(--toggle-on-base);
    }
  }

  &__status {
    font-size: 0.875rem;
    color: var(--toggle-text-color);
  }

  // ON
  &--on {
    --toggle-text-color: var(--toggle-text-color-on);
    --toggle-header-color: var(--toggle-header-color-on);
    --toggle-background-color: var(--toggle-background-color-on);
    --toggle-border-color: var(--toggle-border-color-on);
    --toggle-switch-color: var(--toggle-switch-color-on);
    --toggle-icon-color: var(--toggle-icon-color-on);
  }

  // DISABLED
  &--disabled {
    --toggle-text-color: color-mix(in srgb, var(--toggle-off-base) 40%, white);
    --toggle-header-color: color-mix(
      in srgb,
      var(--toggle-off-base) 40%,
      white
    );
    --toggle-background-color: color-mix(
      in srgb,
      var(--toggle-off-base) 5%,
      white
    );
    --toggle-border-color: color-mix(
      in srgb,
      var(--toggle-off-base) 30%,
      white
    );
    --toggle-switch-color: color-mix(
      in srgb,
      var(--toggle-off-base) 20%,
      white
    );
    --toggle-icon-color: color-mix(in srgb, var(--toggle-off-base) 20%, white);
  }

  &__switch {
    width: $switch-width;
    height: $switch-height;
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;

      &:checked + .slider {
        background-color: var(--toggle-switch-color);

        &::before {
          transform: translateX($knob-shift);
        }
      }

      &:focus-visible + .slider {
        outline: 0.125rem solid var(--toggle-focus-color);
        outline-offset: 0.25rem;
      }
    }
  }

  .slider {
    inset: 0;
    position: absolute;
    background-color: var(--toggle-switch-color);
    border-radius: $switch-height;
    transition: 0.4s;

    &::before {
      content: '';
      width: $knob-size;
      height: $knob-size;
      left: $knob-offset;
      bottom: $knob-offset;
      background-color: var(--toggle-knob-color);
      border-radius: 50%;
      position: absolute;
      transition: 0.4s;
    }
  }

  &--loading {
    animation: toggle-opacity-shimmer 1.8s ease-in-out infinite;

    --toggle-text-color: var(--toggle-text-color-on);
    --toggle-header-color: var(--toggle-header-color-on);
    --toggle-background-color: var(--toggle-background-color-on);
    --toggle-border-color: var(--toggle-border-color-on);
    --toggle-switch-color: var(--toggle-switch-color-on);
    --toggle-icon-color: var(--toggle-icon-color-on);
  }
}
