@import '../settings';
@import '../colours';
@import '../mixins';

$switch-width: 2.5rem;
$switch-height: 1.5rem;
$knob-size: 1rem;
$knob-offset: 0.25rem;
$knob-shift: 1rem;

@keyframes toggle-opacity-shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.toggle {
  --toggle-knob-color: white;
  --toggle-focus-color: var(--fr--color-deep-violet);

  --toggle-text-color-off: #666f7d;
  --toggle-header-color-off: var(--fr--color-yankees-blue);
  --toggle-background-color-off: #fafaff;
  --toggle-border-color-off: #d1d4df;
  --toggle-switch-color-off: #9ca3b2;
  --toggle-icon-off: #9ca3b2;

  --toggle-text-color-on: var(--fr--color-purple-soft);
  --toggle-header-color-on: var(--fr--color-purple-deep);
  --toggle-background-color-on: #fbf4ff;
  --toggle-border-color-on: var(--fr--color-purple-bright);
  --toggle-switch-color-on: var(--fr--color-purple-mid);
  --toggle-icon-on: var(--fr--color-purple-mid);

  --toggle-border-color: var(--toggle-border-color-off);
  --toggle-background-color: var(--toggle-background-color-off);
  --toggle-header-color: var(--toggle-header-color-off);
  --toggle-text-color: var(--toggle-text-color-off);
  --toggle-switch-off-color: var(--toggle-switch-color-off);
  --toggle-switch-on-color: var(--toggle-switch-color-off);
  --toggle-icon-color: var(--toggle-icon-off);

  padding: 0.75rem;
  border: 2px solid var(--toggle-border-color);
  border-radius: 1rem;
  background: var(--toggle-background-color);
  width: 100%;
  user-select: none;

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--toggle-icon-color);

    svg {
      width: 1.5rem;
      height: 1.5rem;
      overflow: visible;
      display: block;
      fill: currentColor;
      stroke: currentColor;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 0;
  }

  &__header {
    font-size: 1rem;
    font-weight: 600;
    color: var(--toggle-header-color);

    &__chip {
      position: absolute;
      margin-top: 2px;
      margin-left: 0.5rem;
      background-color: #e1e4dc;
      border: 0px;
      color: var(--fr--color-purple-deep);
    }
  }

  &__status {
    font-size: 0.875rem;
    color: var(--toggle-text-color);
  }

  &--on {
    --toggle-border-color: var(--toggle-border-color-on);
    --toggle-background-color: var(--toggle-background-color-on);
    --toggle-header-color: var(--toggle-header-color-on);
    --toggle-text-color: var(--toggle-text-color-on);
    --toggle-switch-off-color: var(--toggle-switch-color-on);
    --toggle-switch-on-color: var(--toggle-switch-color-on);
    --toggle-icon-color: var(--toggle-icon-on);
  }

  &--disabled {
    --toggle-border-color: #d1d5db;
    --toggle-background-color: #f9fafb;
    --toggle-text-color: #374151;
    --toggle-switch-off-color: #9ca3af;
    --toggle-switch-on-color: #9ca3af;
    --toggle-icon-color: #9ca3af;
  }

  &__switch {
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;

    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: var(--toggle-switch-on-color);

        &::before {
          transform: translateX($knob-shift);
        }
      }

      &:focus-visible + .slider {
        outline: 0.125rem solid var(--toggle-focus-color);
        outline-offset: 0.25rem;
      }
    }
  }

  .slider {
    position: absolute;
    inset: 0;
    background-color: var(--toggle-switch-off-color);
    transition: 0.4s;
    border-radius: $switch-height;

    &::before {
      content: '';
      position: absolute;
      height: $knob-size;
      width: $knob-size;
      left: $knob-offset;
      bottom: $knob-offset;
      background-color: var(--toggle-knob-color);
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  &--loading {
    animation: toggle-opacity-shimmer 1.8s ease-in-out infinite;

    --toggle-border-color: var(--toggle-border-color-on);
    --toggle-background-color: var(--toggle-background-color-on);
    --toggle-header-color: var(--toggle-header-color-on);
    --toggle-text-color: var(--toggle-text-color-on);
    --toggle-switch-off-color: var(--toggle-switch-color-on);
    --toggle-switch-on-color: var(--toggle-switch-color-on);
    --toggle-icon-color: var(--toggle-icon-on);
  }
}
