@import '../settings';
@import '../colours';
@import '../mixins';

.window {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid $colour-yankees-blue;

  &--with-shadow {
    @include box-shadow(0.3rem);
  }

  &__header {
    width: 100%;
    height: 2rem;
    color: $colour-sky-white;
    background-color: $colour-yankees-blue;
    font-weight: 700;
    padding: 0 $global-padding / 2;
    display: flex;
    line-height: 2rem;
    justify-content: center;
    align-items: center;

    &__title {
      margin-right: auto;
    }
  }

  &__content {
    width: 100%;
    flex-grow: 1;
    padding: $global-padding / 2;
    background-color: $colour-sky-white;
  }

  &__footer {
    width: 100%;
    background-color: $colour-sky-white;
    display: flex;
    justify-content: flex-end;
    padding: $global-padding / 2;

    .button {
      margin-bottom: 0;
      margin-left: $global-padding / 2;
      padding: 0.5rem 1rem;
    }
  }

  &__default-close-button {
    margin-left: auto;

    &--icon-only {
      width: 1rem;
      height: 1rem;
      background-color: $colour-sky-white;
      color: $colour-sea-blue;
      cursor: pointer;
      border-radius: 0.5rem;
    }
  }
}
