/* 
** @name Colours
** @template  ./app/html/colours.html
** @text-only
*/
@import './settings';
@import './colours.json';

// PRIMARY COLOURS
$colour-sapphire-blue: $sapphire-blue;
$colour-sea-blue: $sea-blue;
$colour-vivid-cerulean: $vivid-cerulean;
$colour-medium-turquoise: $medium-turquoise;
$colour-gainsborough: $gainsborough;

// GREYSCALE
$colour-yankees-blue: $yankees-blue;
$colour-independence: $independence;
$colour-weldon-blue: $weldon-blue;
$colour-pastel-blue: $pastel-blue;
$colour-platinum: $platinum;
$colour-sky-white: $sky-white;

// CURATION
$colour-reviewed: $reviewed;
$colour-unreviewed: $unreviewed;

// NAMESPACES
$colour-uniref: $uniref;
$colour-uniparc: $uniparc;
$colour-proteomes: $proteomes;
$colour-supporting-data: $supporting-data;
$colour-help: $help;
$colour-annotation-systems: $annotation-systems;

// COLOUR VARIABLES
$colour-link: $colour-sapphire-blue;
$colour-selected: $colour-gainsborough;
$colour-hover: lighten($colour-platinum, 5%);

// MESSAGE COLOURS
$colour-warning: $warning;
$colour-failure: $failure;
$colour-success: $success;
$colour-info: $info;

// DATA VISUALISATION
$colour-coyote-brown: $coyote-brown;
$colour-outer-space: $outer-space;
