/* 
** @name Colours
** @template  ./app/html/colours.html
** @text-only
*/
@import './settings';

// PRIMARY COLOURS
$colour-sapphire-blue: #014371;
$colour-sea-blue: #00639a;
$colour-vivid-cerulean: #00a6d5;
$colour-medium-turquoise: #46d6fa;
$colour-diamond: #aff3fe;
$colour-bubbles: #e5fbff;

// GREYSCALE
$colour-yankees-blue: #161d39;
$colour-charcoal: #333f56;
$colour-independence: #4e5a71;
$colour-weldon-blue: #8194a1;
$colour-pastel-blue: #abc7d6;
$colour-azureish-white: #e1edf3;
$colour-sky-white: #fbfeff;

// Links
$colour-dark-imperial-blue: #0c476a;
$colour-imperial-blue: #126a9f;

// CURATION
$colour-reviewed: #c39b00;
$colour-unreviewed: #c0c0c0;

// NAMESPACES
$colour-uniref: #c08c5c;
$colour-uniparc: #c3878d;
$colour-proteomes: #990000;
$colour-supporting-data: #aa8ebf;
$colour-help: #6bad69;
$colour-annotation-systems: #f8982e;
