/* 
** @name Colours
** @template  ./app/html/colours.html
** @text-only
*/
@import "./settings";

// PRIMARY COLOURS
$colour-dark-blue: #004864;
$colour-uniprot-blue: #006e9a;
$colour-medium-blue: #3ca3ca;
$colour-light-blue: #93d4ee;

// GREYSCALE
$colour-black: #3a343a;
$colour-dark-grey: #393b42;
$colour-cool-grey: #4a4d55;
$colour-medium-grey: #727376;
$colour-light-grey: #c2c4c4;
$colour-seashell-grey: #f1f1f1;
$colour-white: #fefefe;

// CURATION
$colour-reviewed: #c39b00;
$colour-unreviewed: #c0c0c0;

// NAMESPACES
$colour-uniref: #c08c5c;
$colour-uniparc: #c3878d;
$colour-proteomes: #990000;
$colour-supporting-data: #aa8ebf;
$colour-help: #6bad69;
$colour-annotation-systems: #f8982e;

// PRIMARY
.colour-dark-blue {
  background: $colour-dark-blue;
}
.colour-uniprot-blue {
  background: $colour-uniprot-blue;
}
.colour-medium-blue {
  background: $colour-medium-blue;
}
.colour-light-blue {
  background: $colour-light-blue;
}
// GREY
.colour-black {
  background: $colour-black;
}
.colour-dark-grey {
  background: $colour-dark-grey;
}
.colour-cool-grey {
  background: $colour-cool-grey;
}
.colour-medium-grey {
  background: $colour-medium-grey;
}
.colour-light-grey {
  background: $colour-light-grey;
}
.colour-seashell-grey {
  background: $colour-seashell-grey;
}
// CURATION
.colour-reviewed {
  background: $colour-reviewed;
}
.colour-unreviewed {
  background: $colour-unreviewed;
}
// NAMESPACE
.colour-uniref {
  background: $colour-uniref;
}
.colour-uniparc {
  background: $colour-uniparc;
}
.colour-proteomes {
  background: $colour-proteomes;
}
.colour-supporting-data {
  background: $colour-supporting-data;
}
.colour-help {
  background: $colour-help;
}
.colour-annotation-systems {
  background: $colour-annotation-systems;
}

.box-colour {
  vertical-align: top;
  display: inline-block;
  width: 9em;
  height: 9em;
  margin-bottom: 4em;
  font-size: $small-font-size;
  &:before {
    content: attr(data-name);
    margin-top: 10em;
    display: block;
    text-align: center;
  }
}
