/* 
** @name Colours
** @template  ./app/html/colours.html
** @text-only
*/
@import './settings';

// PRIMARY COLOURS
$colour-sapphire-blue: #014371;
$colour-sea-blue: #00639a;
$colour-vivid-cerulean: #00a6d5;
$colour-medium-turquoise: #46d6fa;
$colour-gainsborough: #d2dce3;

// GREYSCALE
$colour-yankees-blue: #161d39;
$colour-independence: #4e5a71;
$colour-weldon-blue: #8194a1;
$colour-pastel-blue: #abc7d6;
$colour-platinum: #e4e8eb;
$colour-sky-white: #fbfeff;

// CURATION
$colour-reviewed: #c39b00;
$colour-unreviewed: #c0c0c0;

// NAMESPACES
$colour-uniref: #c08c5c;
$colour-uniparc: #c3878d;
$colour-proteomes: #990000;
$colour-supporting-data: #aa8ebf;
$colour-help: #6bad69;
$colour-annotation-systems: #f8982e;

// COLOUR VARIABLES
$colour-link: $colour-sapphire-blue;
$colour-selected: $colour-gainsborough;
$colour-hover: lighten($colour-platinum, 5%);

// MESSAGE COLOURS
$colour-warning: #f0c135;
$colour-failure: #d94d3d;
$colour-success: #bdd071;
$colour-info: #9ecfeb;
