// Font families
$fs-base-font-face: 'Lato', sans-serif;
$fs-headers-font-face: 'Source Sans Pro', sans-serif;

// Base font sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

// Font sizes
$fs-base-font-size: $font-size-large;

// Font weights
$fs-font-weight-regular: 400;
$fs-font-weight-semi-bold: 600;
$fs-font-weight-bold: 700;
$fs-font-weight-extra-bold: 900;

// Breakpoints
$fs-breakpoint-values: (
  'small': (
    min-width: 0,
  ),
  'medium': (
    min-width: 640px,
  ),
  'large': (
    min-width: 1024px,
  ),
);

$gutter-size: 1rem;
