@import './settings';
@import './colours';

$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);

@mixin chevron($direction, $color) {
  $size: 0.4em;
  $offset: get-side($button-padding, right);
  @include css-triangle($size, $color, $direction);
  position: relative;
  top: -0.1em;
  display: inline-block;
  margin-#{$global-left}: $offset;
}

@mixin columns($base-class, $number) {
  .#{$base-class}--columns {
    column-count: $number;
    column-width: percentage(1 / $number);

    .#{$base-class}__item {
      break-inside: avoid;
    }
  }
}

@mixin box-shadow($spread:0.125rem) {
  box-shadow: 0 0.125rem 0.25rem $spread rgba($colour-black, 0.2);
}
