@use 'sass:math';

@import './settings';
@import './colours';
@import './franklin-settings';

$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);

@mixin chevron($direction, $color) {
  $size: 0.4em;
  $offset: get-side($button-padding, right);
  @include css-triangle($size, $color, $direction);
  position: relative;
  top: -0.1em;
  display: inline-block;
  margin-#{$global-left}: $offset;
}

@mixin columns($base-class, $number) {
  .#{$base-class}--columns {
    column-count: $number;
    column-width: percentage(math.div(1, $number));

    & > * {
      break-inside: avoid;
    }
  }
}

@mixin box-shadow($spread: 0.125rem) {
  box-shadow: 0 0.125rem 0.25rem $spread rgba($colour-yankees-blue, 0.2);
}

@mixin fs-breakpoints($size) {
  @if map-has-key($fs-breakpoint-values, $size) {
    @media #{inspect(map-get($fs-breakpoint-values, $size))} {
      @content;
    }
  }
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
