.font-style {
  display: inline-block;
  text-align: center;
  width: 10rem;
  background-color: rgba(0, 0, 0, 0.1); }

.font-style-thin {
  font-weight: 300; }

.font-style-normal {
  font-weight: 400; }

.font-style-bold {
  font-weight: 700; }

.font-style .font-style-title {
  font-size: 5em;
  display: block; }

.font-style .font-style-description {
  display: block;
  background-color: rgba(0, 0, 0, 0.1); }

.demo-code-snippet {
  background-color: #CEDFF5;
  padding: 1.2em;
  white-space: pre-wrap; }

.demo-active {
  border-bottom: #FFFFFF 2px solid; }

.demo-content {
  margin-top: 1.5rem; }
