@import '../styles/colours';
@import '../styles/settings';

.font-style {
  display: inline-block;
  text-align: center;
  width: 10rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.font-style-thin {
  font-weight: 300;
}

.font-style-normal {
  font-weight: 400;
}

.font-style-bold {
  font-weight: 700;
}

.font-style .font-style-title {
  font-size: 5em;
  display: block;
}

.font-style .font-style-description {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

.demo-code-snippet {
  background-color: #cedff5;
  padding: 1.2em;
  white-space: pre-wrap;
}

.demo-active {
  border-bottom: #ffffff 2px solid;
}

.demo-content {
  margin-top: 1.5rem;
}

.component-wrapper {
  padding-right: 2rem;
}

.button {
  line-height: 0.9;
}

.default-page-layout {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 4rem;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}

.default-page-content {
  padding: 2em 1em 0 1em;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.sidebar {
  ul {
    position: sticky;
    top: 10rem;
    list-style: none;
    padding: 0;
    li {
      line-height: 2rem;
    }
  }
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  .icon-container {
    padding: 2rem;
    margin: 0.2rem;
    width: 20rem;
    text-align: center;
    border: 1px solid lighten(#000000, 80);
  }
}

.data-list {
  height: 80vh;
  &__status {
    margin: $global-margin;
  }
}

.data-list-item {
  display: flex;
  &__checkbox {
    width: 1.5rem;
  }
  &__content {
    flex: 1;
  }
}

.atoms-section {
  margin-bottom: 2rem;
}
