@import "../settings";
@import "../colours";

$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);

@mixin chevron($direction, $color) {
  $size: 0.4em;
  $offset: get-side($button-padding, right);
  @include css-triangle($size, $color, $direction);
  position: relative;
  top: -0.1em;
  display: inline-block;
  margin-#{$global-left}: $offset;
}
