@import '../settings';
@import '../colours';

.button {
  &.dropdown::after {
    border-color: currentColor transparent transparent;
  }

  svg {
    width: 0.9rem;
    height: 0.9rem;
    margin-top: -0.2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    fill: $colour-sky-white;
  }
  &.large-icon svg {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -0.2rem;
    margin-right: 0.5rem;
  }
  &.secondary {
    color: $colour-sea-blue;
    border: 0.1rem solid $colour-sea-blue;
    font-weight: 700;
    svg {
      fill: $colour-sea-blue;
    }
  }
  &.tertiary {
    background: none;
    color: $colour-sapphire-blue;
    font-weight: $global-weight-bold;
    padding: 0;
    line-height: 1.6;
    text-align: left;
    &:hover:disabled {
      color: $colour-sapphire-blue;
      background-color: $colour-sky-white;
    }
    svg {
      fill: $colour-sapphire-blue;
    }
    &.tertiary-icon__active {
      svg {
        fill: $colour-platinum;
      }
    }
  }
}

.button-group {
  margin-bottom: $global-margin/2;
  .tertiary {
    margin-right: 1rem;
  }
}
