@import '../colours';

// PRIMARY
.colour-sapphire-blue {
  background: $colour-sapphire-blue;
  color: $colour-sky-white;
}
.colour-sea-blue {
  background: $colour-sea-blue;
  color: $colour-sky-white;
}
.colour-vivid-cerulean {
  background: $colour-vivid-cerulean;
  color: $colour-sky-white;
}
.colour-medium-turquoise {
  background: $colour-medium-turquoise;
  color: $colour-yankees-blue;
}
.colour-diamond {
  background: $colour-diamond;
  color: $colour-yankees-blue;
}
.colour-bubbles {
  background: $colour-bubbles;
  color: $colour-yankees-blue;
}
// LINKS
.colour-dark-imperial-blue {
  background: $colour-dark-imperial-blue;
}
.colour-imperial-blue {
  background: $colour-imperial-blue;
}

// GREY
.colour-yankees-blue {
  background: $colour-yankees-blue;
  color: $colour-sky-white;
}
.colour-charcoal {
  background: $colour-charcoal;
  color: $colour-sky-white;
}
.colour-independence {
  background: $colour-independence;
  color: $colour-sky-white;
}
.colour-weldon-blue {
  background: $colour-weldon-blue;
  color: $colour-sky-white;
}
.colour-pastel-blue {
  background: $colour-pastel-blue;
  color: $colour-yankees-blue;
}
.colour-azureish-white {
  background: $colour-azureish-white;
  color: $colour-yankees-blue;
}
.colour-sky-white {
  background: $colour-sky-white;
  color: $colour-yankees-blue;
}
// CURATION
.colour-reviewed {
  background: $colour-reviewed;
  color: $colour-yankees-blue;
}
.colour-unreviewed {
  background: $colour-unreviewed;
  color: $colour-yankees-blue;
}
// NAMESPACE
.colour-uniref {
  background: $colour-uniref;
  color: $colour-yankees-blue;
}
.colour-uniparc {
  background: $colour-uniparc;
  color: $colour-yankees-blue;
}
.colour-proteomes {
  background: $colour-proteomes;
  color: $colour-sky-white;
}
.colour-supporting-data {
  background: $colour-supporting-data;
  color: $colour-yankees-blue;
}
.colour-help {
  background: $colour-help;
  color: $colour-yankees-blue;
}
.colour-annotation-systems {
  background: $colour-annotation-systems;
  color: $colour-yankees-blue;
}

// svg fills
.svg-colour-reviewed {
  fill: $colour-reviewed;
}
.svg-colour-unreviewed {
  fill: $colour-unreviewed;
}

.box-colour {
  vertical-align: top;
  display: inline-block;
  width: 9em;
  height: 9em;
  margin-bottom: 4em;
  font-size: $small-font-size;
  &:before {
    content: attr(data-name);
    margin-top: 10em;
    display: block;
    text-align: center;
  }
}
