@import '../colours';

// PRIMARY
.colour-dark-blue {
  background: $colour-dark-blue;
}
.colour-uniprot-blue {
  background: $colour-uniprot-blue;
}
.colour-medium-blue {
  background: $colour-medium-blue;
}
.colour-light-blue {
  background: $colour-light-blue;
}
// GREY
.colour-black {
  background: $colour-black;
}
.colour-dark-grey {
  background: $colour-dark-grey;
}
.colour-cool-grey {
  background: $colour-cool-grey;
}
.colour-medium-grey {
  background: $colour-medium-grey;
}
.colour-light-grey {
  background: $colour-light-grey;
}
.colour-seashell-grey {
  background: $colour-seashell-grey;
}
// CURATION
.colour-reviewed {
  background: $colour-reviewed;
}
.colour-unreviewed {
  background: $colour-unreviewed;
}
// NAMESPACE
.colour-uniref {
  background: $colour-uniref;
}
.colour-uniparc {
  background: $colour-uniparc;
}
.colour-proteomes {
  background: $colour-proteomes;
}
.colour-supporting-data {
  background: $colour-supporting-data;
}
.colour-help {
  background: $colour-help;
}
.colour-annotation-systems {
  background: $colour-annotation-systems;
}

// svg fills
.svg-colour-reviewed {
  fill: $colour-reviewed;
}
.svg-colour-unreviewed {
  fill: $colour-unreviewed;
}

.box-colour {
  vertical-align: top;
  display: inline-block;
  width: 9em;
  height: 9em;
  margin-bottom: 4em;
  font-size: $small-font-size;
  text-align: center;
  padding-top: 8rem;
}
