@import '../settings';
@import '../colours';

$grid-name: 'uniprot-grid';
$gap: 1rem;
$max-width: 117ch; // 1070px with Lato 16px base as per mockup
$n-columns: 12;

/* uniprot-website grid system */
.#{$grid-name} {
  display: grid;
  grid-column-gap: $gap; /* or we can implement that differently */
  grid-template-columns: repeat(12, 1fr);

  & > .#{$grid-name}-cell {
    @for $i from 1 through $n-columns {
      &--span-#{$i} {
        grid-column: auto / span $i;
      }
    }

    @for $i from 1 through $n-columns {
      &--offset-#{$i} {
        grid-column-start: $i + 1;
      }
    }
  }
}

.#{$grid-name}--centered {
  margin-left: auto;
  width: calc(min(100vw, #{$max-width}));
  margin-right: auto;
}

.#{$grid-name}--with-bleed {
  box-shadow: -$gap 0 var(--grid-background), $gap 0 var(--grid-background);
}
